## Common steps in doing a machine learning project
    - Get data
    - Preprocess data
    - Train model
    - Evaluate model
    - Hyperparameter tuning
    - Make predictions

# 0. Import libraries

In [1]:
import pandas as pd
import numpy as np

# 1. Get Data

## 1. Load data as pandas dataframe

In [27]:
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')

In [4]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test_df.head()

# 2. Preprocess Data

## 1. Data Cleaning

### There are a few columns I consider to dropping:
- Cabin: This column contains a lot of missing values, and the information it provides may not be very useful for predicting passenger survival, as the cabin assignment was likely not a primary factor in the Titanic disaster. Dropping this column can help simplify my model and reduce the risk of overfitting.
- Ticket: The ticket number may not provide any useful information for predicting survival, as it is unlikely to be directly related to the factors that influenced survival.
- Name: The passenger's name may not be directly relevant to predicting survival, and including it in my model could lead to overfitting.

### Sort it arrounding to the PassengerId and then drop it
- PassengerId: The passenger ID is a unique identifier for each individual, but it does not contain any information that could help predict survival.

In [28]:
train_df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
train_df.dropna(inplace=True)
train_df['Sex'] = train_df['Sex'].apply(lambda x: 1 if x == 'male' else 0)
train_df['Embarked'] = train_df['Embarked'].apply(lambda x: 0 if x == 'S' else 1 if x == 'C' else 2)
train_df.sort_values('PassengerId', inplace=True)
train_df.drop('PassengerId', axis=1, inplace=True)
test_df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_df.dropna(inplace=True)
test_df['Sex'] = test_df['Sex'].apply(lambda x: 1 if x == 'male' else 0)
test_df['Embarked'] = test_df['Embarked'].apply(lambda x: 0 if x == 'S' else 1 if x == 'C' else 2)
test_df.sort_values('PassengerId', inplace=True)
test_df.drop('PassengerId', axis=1, inplace=True)

In [24]:
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         0
1         1       1    0  38.0      1      0  71.2833         1
2         1       3    0  26.0      0      0   7.9250         0
3         1       1    0  35.0      1      0  53.1000         0
4         0       3    1  35.0      0      0   8.0500         0

# 3. Modeling

## Model 1: Naive Bayes

### 1. Train Model

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [31]:
X_train, X_test, y_train, y_test = train_test_split(train_df.drop('Survived', axis=1), train_df['Survived'], test_size=0.3, random_state=42)

In [32]:
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

### 2. Evaluate Model

# 6. Make Predictions